:root {
  --torrentTitleColor: rgb(120, 120, 120);
  --freeleechColor: rgb(47, 72, 121);
  --freeleech75Color: rgba(47, 72, 121, .75);
  --freeleech50Color: rgba(47, 72, 121, .5);
  --internalColor: rgb(208, 119, 40);
}

/* Header */
#header {
  margin-bottom: 0px !important;
}
.buddylist {
  background-image: url(https://i.hdbits.org/nRAKpWj.png)
}
.mytorrents {
  background-image: url(https://i.hdbits.org/9ppqFRC.png)
}
.buddylist,
.mytorrents {
  background-position: 0;
  background-repeat: no-repeat;
  height: 14px;
}

/* Menu */
.menu {
  table-layout: fixed;
  height: 30px
}
.menu tbody tr td:nth-child(2),
.menu tbody tr td:nth-child(3) {
  width: 15%;
}
.menu td.menunavigation_new {
  background: none;
}
.menu td.menunavigation_new:hover {
  background: linear-gradient(to bottom,#93b6e6 0,#a8cdf0 50%,#72b5ec 50%,#92dbfd 100%);
}
.menu td.menunavigation_new a::after {
  content: " [New]";
  color: var(--freeleechColor);
  font-size: 10px;
  text-align: center;
  pointer-events: none;
  margin-left: 5px;
}

/* Browse */
#torrent-list a.fl::after,
#torrent-list a[title^="25%"]::after,
#torrent-list a[title^="50%"]::after {
  float: right;
  font-size: 10px;
  pointer-events: none;
}
#torrent-list {
  width: 90%;
  border-collapse: initial;
}
#torrent-list thead {
  position: sticky;
  top: 0;
}
#torrent-list th,
#torrent-list td {
  padding: 8px;
}
#torrent-list td {
  border: none;
}
#torrent-list td:nth-child(3) {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: baseline;
}
#torrent-list td:nth-child(3) b {
  order: 0;
  flex: 1 0 100%;
}
#torrent-list td:nth-child(3) .tag.new,
#torrent-list td:nth-child(3) a[href="/browse.php?origin=1"] {
  height: 100%;
}
#torrent-list a.fl::after {
  content: "FREE";
  color: var(--freeleechColor);
}
#torrent-list a[title] {
  font-size: 12px;
}
#torrent-list a[title^="25%"]::after {
  content: "75%";
  color: var(--freeleech75Color);
}
#torrent-list a[title^="50%"]::after {
  content: "50%";
  color: var(--freeleech50Color);
}
#torrent-list a[title^="Neutral Leech"] {
  content: "50%";
  color: var(--torrentTitleColor);
}
#torrent-list thead tr th:last-child,
#torrent-list thead tr th:nth-child(3),
#torrent-list tbody tr td:last-child,
#torrent-list tbody tr td:nth-child(4) {
  display: none;
}
#torrent-list tbody tr td button,
#torrent-list td:hover button.tvdb_button {
  display: none;
}
#torrent-list .tag.internal {
  background-color: var(--internalColor);
  color: rgb(255, 255, 255);
  font-weight: 700;
}
#torrent-list a.fl {
  color: var(--freeleechColor);
}
#torrent-list a.internal {
  color: var(--internalColor);
}
/* Categories */
#torrent-list td.catcell a {
  text-decoration: none;
}
#torrent-list td.catcell .category1,
#torrent-list td.catcell .category2,
#torrent-list td.catcell .category3,
#torrent-list td.catcell .category4,
#torrent-list td.catcell .category5,
#torrent-list td.catcell .category6,
#torrent-list td.catcell .category7,
#torrent-list td.catcell .category8 {
  background-image: none;
  text-align: center;
  height: auto;
}
#torrent-list td.catcell .category1:after,
#torrent-list td.catcell .category2:after,
#torrent-list td.catcell .category3:after,
#torrent-list td.catcell .category4:after,
#torrent-list td.catcell .category5:after,
#torrent-list td.catcell .category6:after,
#torrent-list td.catcell .category7:after,
#torrent-list td.catcell .category8:after {
  font-weight: bold;
  padding: 1px 3px 2px 3px;
  border-radius: 3px;
  color: white;
}
#torrent-list td.catcell .category1:after {
  content: "Movie";
  background-color: orange;
}
#torrent-list td.catcell .category2:after {
  content: "TV";
  background-color: green;
}
#torrent-list td.catcell .category3:after {
  content: "Docu";
  background-color: darkcyan;
}
#torrent-list td.catcell .category4:after {
  content: "Music";
  background-color: mediumpurple;
}
#torrent-list td.catcell .category5:after {
  content: "Sport";
  background-color: darkslategray;
}
#torrent-list td.catcell .category6:after {
  content: "Audio";
  background-color: purple;
}
#torrent-list td.catcell .category7:after {
  content: "XXX";
  background-color: crimson;
}
#torrent-list td.catcell .category8:after {
  content: "Misc";
  background-color: dodgerblue;
}
/* Medium */
#torrent-list td.catcell .medium1,
#torrent-list td.catcell .medium3,
#torrent-list td.catcell .medium4,
#torrent-list td.catcell .medium5,
#torrent-list td.catcell .medium6 {
  background-image: none;
  text-align: center;
  height: auto;
}
#torrent-list td.catcell .medium1:after {
  content: "Blu-ray";
}
#torrent-list td.catcell .medium3:after {
  content: "Encode";
}
#torrent-list td.catcell .medium4:after {
  content: "Capture";
}
#torrent-list td.catcell .medium5:after {
  content: "Remux";
}
#torrent-list td.catcell .medium6:after {
  content: "Web-DL";
}
/* Codec */
#torrent-list td.catcell#codec0,
#torrent-list td.catcell#codec1,
#torrent-list td.catcell#codec2,
#torrent-list td.catcell#codec3,
#torrent-list td.catcell#codec4,
#torrent-list td.catcell#codec5,
#torrent-list td.catcell#codec6 {
  background-image: none;
  text-align: center;
  height: auto;
}
#torrent-list td.catcell#codec1:before {
  content: "H.264";
}
#torrent-list td.catcell#codec2:before {
  content: "MPEG-2";
}
#torrent-list td.catcell#codec3:before {
  content: "VC-1";
}
#torrent-list td.catcell#codec4:before {
  content: "XviD";
}
#torrent-list td.catcell#codec5:before {
  content: "HEVC";
}
#torrent-list td.catcell#codec6:before {
  content: "VP9";
}
/* Links */
#torrent-list td .js-download,
#torrent-list td .js-bookmarkadd,
#torrent-list td .js-wishlistadd,
#torrent-list td .genres {
  display: none;
}
