:root {
  --torrentTitleColor: rgb(120, 120, 120);
  --freeleechColor: rgb(47, 72, 121);
  --freeleech75Color: rgba(47, 72, 121, .75);
  --freeleech50Color: rgba(47, 72, 121, .5);
  --internalColor: rgb(208, 119, 40);
}

/* Browse */
#torrent-list a.fl::after,
#torrent-list a[title^="25%"]::after,
#torrent-list a[title^="50%"]::after {
  float: right;
  font-size: 10px;
  width: 34px;
  text-align: center;
  pointer-events: none;
}
#torrent-list {
  width: 90%;
}
#torrent-list a.fl::after {
  content: "FREE";
  color: var(--freeleechColor);
}
#torrent-list a[title^="25%"]::after {
  content: "75%";
  color: var(--freeleech75Color);
}
#torrent-list a[title^="50%"]::after {
  content: "50%";
  color: var(--freeleech50Color);
}
#torrent-list a[title^="Neutral Leech"] {
  content: "50%";
  color: var(--torrentTitleColor);
}
#torrent-list tbody tr td button,
#torrent-list td:hover button.tvdb_button {
  display: none;
}
#torrent-list .tag.internal {
  background-color: var(--internalColor);
  color: rgb(255, 255, 255);
  font-weight: 700;
}
#torrent-list a.fl {
  color: var(--freeleechColor);
}
#torrent-list a.internal {
  color: var(--internalColor);
}
